footer {
    width: 100%;
    padding: 70px 0;
    margin: 0 auto;
    background-color: $amarelo-claro;
    
    p {
        color: $branco
    }

    a {
        color: $branco
    }

    address {
        color: $branco
    }

    i {
        color: $branco;
        font-size: 30px
    }
}

.secao-footer {
    @include Flex(space-between, flex-start);
    padding: 0 60px;
    max-width: 1400px;
    margin: 0 auto;

    .secao-logo {
        @include Flexcolumn(flex-start, flex-start);
        gap: 20px;
        img {
            width: 75px;
        }
    }
}

.secao {
    @include Flexcolumn(space-between, flex-start);
    gap: 10px;
    width: 20%;

    h3 {
        color: $branco;
        margin-bottom: 20px;
        font-weight: 500
    }

    .redes-sociais {
        display: flex;
        gap: 15px;
    }
}

.secao-sobre-nos {
    padding-left: 70px;
}

.secao-servicos-footer {
    padding: 0;
}

@media screen and (max-width: 992px) {
    footer {
        .secao-footer {
            .secao-sobre-nos {
                padding-left: 0;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    footer {
        padding: 50px 0;
        .secao-footer {
            padding:0 30px ;
            display: grid;
            gap: 20px;
            justify-content: center;

            .secao {
                width: 100%;
                align-items: center;
            }

            .secao-logo {
                p {
                    text-align: center;
                }
            }

            .secao-servicos-footer, .secao-sobre-nos {
                display: none;
            }
        }
    }

    .barra-final {
        img {
            display: none;
        }
    }
}