header {
    @include Flex(space-around, center);
    width: 100%;
    height: 75px;
    background-color: $amarelo-claro;
    position: fixed;
    top: 0;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
    z-index: 100;

    .header-center {
        width: 100%;
        @include Flex(space-between, center);
        max-width: 1400px;
        padding-left: 30px;
    }

    img {
        width: 120px;
        padding-left: 30px;
        display: block;
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }

    .btn-menu-header {
        background-color: transparent;
        border: none;
        font-size: 36px;
        cursor: pointer;
        display: none;
    }
}

.nav-menu ul {
    @include Flex(space-around, center);
    gap: 40px;
    padding-right: 60px;

    li {
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    a {
        color: $marrom;
    }

    
    .li-dropdow {
        display: flex;
        flex-direction: column;

        .h3-solucoes {
            color: $marrom;
            font-weight: normal;
        } 

        &:hover .menu-dropdow {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            top: 25px;  
        }
    }

    .menu-dropdow {
        display: none;
        position: absolute;
        padding: 10px;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
        background-color: $amarelo-claro;
    }

    .menu-dropdow li {
        display: block;
    }
}

@media screen and (max-width: 992px){
    header {
        padding: 0 60px;
        .header-center {
            padding: 0;

            img {
                padding: 0;
                width: 100px;
            }
        }

        .btn-menu-header {
            display: block;
        }

        .nav-menu ul {
            position: absolute;
            top: 75px;
            background-color: $amarelo-claro;
            width: 100%;
            left: 0;
            @include Flexcolumn(center, center);
            gap: 15px;
            // box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
            height: 0;
            overflow: hidden;
            transition: 0.5s;
            padding-right: 0px;

            .menu-dropdow {
                position: static;

            }

            .li-dropdow {
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
        
                .h3-solucoes {
                    position: relative;
                    color: $marrom;
                    font-weight: normal;
                    z-index: 5;
                } 
        
                &:hover .menu-dropdow {
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                }

                &:hover {
                    margin-top: 90px;
                }
            }
        }
    
        .ativar-menu {
            height: 200px !important;
        }
    }

}


@media screen and (max-width: 768px) {
    header {
        padding: 0;
        .header-center {
            width: 90%;

            img {
                content: url('/img/sloth-logo-solo.png');

                width: 50px;
            }
        }
    }
}

