.fundo-gradient {       
  width: 100%;
  height:100vh;
  animation: gradient 6s infinite alternate;
  
  @keyframes gradient {
    from {background-color: #013666;}
    to {background-color: #044e78;}
  }

  .descricao-marketing {
    h3 {
        color: $branco;
    }

    p {
        color: $branco;
    }
  }

}


.swiperMkt {
  width: 600px;
  height: 568px;
  margin-top: 10px;

  .swiper-wrapper {
      text-align: right;
      width: 100%;

      .swiper-slide {
          text-align: center;
          img {
              width: 280px;
              height: fit-content;
              border-radius: 15px;
              box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
          }
      }
      
  }
  
}

