.secao-inicial {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    @include Flex(center, center);
}

.texto-inicial {
    width: 45%;
    padding: 30px;
    @include Flex(center, flex-start); 
    flex-direction: column;
    gap: 15px;

    h2 {
        text-align: left;
        font-size: 40px;
        color: $marrom;
    }

    p {
        font-size: 18px;
    }

    a {
        margin-top: 10px;
        color: $branco;
        padding: 10px 35px;
        background-color: $amarelo-claro;
        border-radius: 20px;
        transition: all .2s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
    }
}

.imagem {
    width: 55%;

    img { 
        display: block;
        width: 620px;
        margin-bottom: -18px;
        
    }
}

@media screen and (max-width: 768px) {
    .secao-inicial {
        border: 1px solid red;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .texto-inicial {
            width: 100%;
            padding: 10px;
            border: 1px solid red;
            h2 {
                margin: 0 auto;;
                text-align: center;
            }
            p {
                margin: 0 auto;
                width: 70%;
                font-size: 20px;
            }
            a {
                margin: 0 auto;
            }
        }
        .imagem {
            width: 100%;
            
            img {
                margin: 0 auto;    
                width: 500px;
                margin-bottom: -100px ;
            }
        }
    }
    
}